{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "targets": {
          "node": "current",
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./", "./src/**"]
      }
    ],
    [
      "babel-plugin-webpack-alias",
      {
        "config": "./webpack.config.js"
      }
    ],
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-syntax-class-properties",
    "transform-class-properties"
  ]
}
