{
  "presets": [
    "./tools/inplayer-babel-preset-es2015",
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": ["./", "./src/**"]
      }
    ],
    [
      "babel-plugin-webpack-alias",
      {
        "config": "./webpack.config.js"
      }
    ]
  ]
}
