{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "debug": true
      }
    ],
    "@babel/preset-react",
    "@babel/preset-flow"
  ],
  "plugins": [
    "babel-plugin-styled-components",
    [
      "module-resolver",
      {
        "root": [
          "./",
          "./src/**"
        ]
      }
    ],
    [
      "babel-plugin-webpack-alias",
      {
        "config": "./webpack.config.js"
      }
    ]
  ]
}
