
# dependencies
node_modules

#IDEA
.idea/**
.vscode

# testing
coverage

#lock files
package-lock.json

# production
dist
storybook-static

#logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
report*

# misc
.cache
.env
.tmp
.eslintcache
.DS_Store
